<button is="party-button">
    <span class="visually-hidden">Start the party!</span>
  </button>
  {% schema %}
    {
      "name": "Party",
      "target": "body",
      "javascript": "main.jsx",
      "settings": []
    }
  {% endschema %}